<div class="ltn-container_x-large ltn-container_center">


			<div class="hero-container">

				<h1><%- localization.content.indexH1 %></h1>
				<h2><%- localization.content.indexH2 %></h2>
				<div id="sponsor-logos"  class="ltn-grid ltn-wrap">
					<div class="ltn-col ltn-size_1-of-1 ltn-large-size_6-of-12">
						<a class="clickable-image sponsor-logo" href="#salesforce" title="Salesforce">
							<img id="sponsor-logo--salesforce" src="/images/salesforce-logo.svg">
						</a>
					</div>
					<div class="ltn-col ltn-size_1-of-1 ltn-large-size_6-of-12">
						<a class="clickable-image sponsor-logo" href="#leukemia-and-lymphoma-society" title="Leukemia and Lymphoma Society">
							<img id="sponsor-logo--leukemia-and-lymphoma-society" src="/images/leukemia-and-lymphoma-society-logo.png">
						</a>
					</div>
				</div>

				<div id="CTA-buttons_wrapper">
					<div id="CTA-buttons"  class="ltn-grid ltn-wrap">
						<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
							<a class="clickable-image CTA-button" id="CTA-button--walk" href="#walk" title="Walk">
								<img src="/images/CTA-button--walk.png">
							</a>
						</div>
						<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
							<a class="clickable-image CTA-button" id="CTA-button--donate" href="#donate" title="Donate">
								<img src="/images/CTA-button--donate.png">
							</a>
						</div>
						<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
							<a class="clickable-image CTA-button" id="CTA-button--learn" href="https://www.lightthenight.org/about" title="Learn" target="_blank" rel="noop">
								<img src="/images/CTA-button--learn.png">
							</a>
						</div>
					</div>
				</div>

			</div>


			<div id="walk" class="ltn-section_container">
				<h3 class="ltn-m-top_x-large"><%- localization.content.walkHeading %></h3>

				<%- include(`includes/${locals.urlSlug}/${locals.urlSlug}-contents-walk-table`) _%>
			</div>



			<div id="donate" class="ltn-section_container">
				<h3 class="ltn-m-top_x-large"><%- localization.content.donateHeading %></h3>

				<%- include(`includes/${locals.urlSlug}/${locals.urlSlug}-contents-donate`) _%>
			</div>






</div>

